<html>
<head>
</head>

<body>
  <h1>Catalog App</h1>

  <h2>Edit Item</h2>

<form>
  <p>Title</p>
  <input type='text' size=30 name=title placeholder='Item Title'>
</br>

  <p>Description</p>
  <input type='text' size=30 name=description placeholder='Description'>
</br>

  <p>Category</p>
  <select name='category'>
    <option value="soccer">Soccer</option>
  </select>
  <!-- items belonging to this category go here -->

  <input type='submit' name='Submit'>

  <!-- Cancel link goes here  -->
</form>
</body>

</html>
