<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
  <div class="page">
    <div class="header-container">
      <a href="{{ url_for('showCatalog') }}"><h1 class="main-header">Catalog App</h1></a>
      <button class="login">Login</button>
    </div>

    <div class="delete-page-info">
      <div class="page-header">
        <h2>Delete Item</h2>
      </div>

      <div class="delete-item">
        <p>Are you sure you want to delete {{ item.name }}?</p>
      </div>

      <form action="{{ url_for('deleteItem', category_id=category_id, item_id=item_id) }}" method='post'>

        <div class="form-buttons delete">
          <input type='submit' value='Delete'>

          <!-- Cancel link goes here  -->
          <a class="cancel" href="{{ url_for('showCategory', category_id=category_id)}}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
