<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
  <div class="page">
    <div class="header-container">
      <a href="{{ url_for('showCatalog') }}"><h1 class="main-header">Catalog App</h1></a>
      <button class="login">Login</button>
    </div>

    <div class="page-info">
      <div class="page-links">
        <a href="{{ url_for('editItem', category_id=category.id, item_id=item.id) }}">Edit</a>
        |
        <a href="{{ url_for('deleteItem', category_id=category.id, item_id=item.id) }}">Delete</a>
      </div>

      <div class="item-info">
        <div class="item-header">
          <h2>{{ item.name }}</h2>
        </div>

        <div class="item-description">
          {{ item.description }}
        </div>
      </div>

      <div class="item-footer">
        <a href="{{ url_for('showCategory', category_id=category.id) }}">Back</a>
      </div>
    </div>
    <!-- If logged in display edit and delete -->
</div>
</body>

</html>
