*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: darkred;
}

.page {
  background-color: lightgray;
}

.header-container {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #2f5da8;
}

/* DESKTOP STYLES */
.main-header {
  padding: 5px 10%;
  color:darkred;
}

.login {
  width: 100px;
  margin: 10px;
}

.page-container {
  display:flex;
  justify-content: center;

}

.page-content {
  border: 1px solid black;
  background-color: white;
  padding: 0px 20%;
  display: flex;
  justify-content: flex-start;
}


body {
    /*padding: 5px 10%;*/
}
